@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

:root {
  --main_color: #00B5B5;
  --second_color: #2a5275;
  --error_color: #a74134;
  --main_bg1: #182C3E;
  --main_bg: #135058;
  --bg_color: #f3f4f5;
  --text_light: #ffffff;
  --text_dark: #000000;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.button {
  margin-top: 60px;
  width: 270px;
  height: 76px;
  border-radius: 5px 50px;
  background-color: var(--main_color);
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 5px 5px 0px var(--second_color);
          box-shadow: 5px 5px 0px var(--second_color);
}

.button_contact {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.button:hover {
  background-color: #fff;
  color: var(--main_color);
  -webkit-box-shadow: 0px 0px 0px var(--second_color);
          box-shadow: 0px 0px 0px var(--second_color);
  border-radius: 50px 5px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  color: var(--main_color);
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 1px 1px 0px var(--second_color), 2px 2px 0px var(--second_color), 3px 3px 0px var(--second_color);
}

.fz-20 {
  font-weight: 600;
  font-size: 20px;
  text-shadow: none;
  margin-bottom: 20px;
}

.light {
  color: var(--bg_color);
}

* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  position: relative;
  background-color: var(--bg_color);
}

.container {
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.wave {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.wave path {
  fill: var(--bg_color);
}

.header {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 20px 0;
}

.header__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 40px;
  height: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu_item {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
}

.header__menu_item::after {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background: var(--main_color);
}

.header__menu_item a {
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu_item a::after {
  margin-top: 5px;
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  background: var(--main_color);
}

.header__menu_item a.active {
  color: var(--main_color);
}

.header__menu_item a.active::after {
  width: 100%;
}

.header__menu_item :last-child {
  margin-right: 0;
}

.header__menu_item:hover::after {
  width: 100%;
}

.header__menu_item:hover a {
  color: var(--main_color);
}

.header__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social_btn,
.header__volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
}

.header__social_btn svg,
.header__volume svg {
  width: 20px;
  height: 20px;
}

.header__social {
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  position: relative;
}

.header__social_list {
  border-radius: 10% 0% 10% 10%;
  padding: 20px 5px 0px 5px;
  background-color: var(--main_color);
  opacity: 0.9;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(calc(-50% - 9px));
      -ms-transform: translateX(calc(-50% - 9px));
          transform: translateX(calc(-50% - 9px));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.header__social_list_active {
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -100%;
}

.header__social_item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.header__social_item p {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.header__social_item svg {
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

.header__volume {
  position: relative;
  margin-right: 20px;
}

.header__volume img {
  width: 25px;
}

.header__volume_active {
  background-color: var(--main_color);
}

.header__volume_active span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  background-color: rgb(131, 36, 36);
  margin-bottom: 5px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateY(3px) rotate(-45deg);
      -ms-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}

.header__volume_active span:nth-child(2) {
  -webkit-transform: translateY(3px) rotate(45deg);
      -ms-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

.header__social_btn {
  z-index: 1;
  margin-right: 20px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.header__social_btn_active {
  border-radius: 100% 100% 0% 0%;
  background-color: var(--main_color);
}

.main {
  width: 100%;
  position: relative;
  padding: 120px 0 50px 0;
  min-height: 600px;
  background-image: -o-linear-gradient(45deg, var(--main_bg1) 69%, var(--main_bg) 69%, var(--main_bg) 70%, var(--main_bg1) 73%, var(--main_bg) 73%, var(--main_bg) 74%, var(--main_bg1) 77%, var(--main_bg) 77%, var(--main_bg) 78%, var(--main_bg1) 81%);
  background-image: linear-gradient(45deg, var(--main_bg1) 69%, var(--main_bg) 69%, var(--main_bg) 70%, var(--main_bg1) 73%, var(--main_bg) 73%, var(--main_bg) 74%, var(--main_bg1) 77%, var(--main_bg) 77%, var(--main_bg) 78%, var(--main_bg1) 81%);
  background-size: 200% 200%;
  -webkit-animation: gradient 16s ease infinite;
          animation: gradient 16s ease infinite;
  margin: 0 auto;
  width: 100%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text {
  max-width: 200px;
  margin-top: -100px;
  max-width: 480px;
}

.main__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.main__title span {
  color: var(--main_color);
  text-shadow: 1px 1px 1px var(--second_color), 2px 2px 1px var(--second_color), 3px 3px 1px var(--second_color);
}

.main__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-weight: 400;
  font-size: 35px;
  color: #FFFFFF;
}

.main__bg {
  margin: 0 auto;
  position: relative;
  height: 600px;
  width: 300px;
  z-index: 4;
  margin-right: 80px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.main__bg:hover .main__bg_block {
  -webkit-transform: translateX(30%);
      -ms-transform: translateX(30%);
          transform: translateX(30%);
}

.main__bg:hover .main__bg_block_2 {
  -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
          transform: translateX(-30%);
}

.main__bg_img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  max-height: 600px;
  width: auto;
}

.main__bg_blocks {
  z-index: 2;
}

.main__bg_block {
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  content: "";
  position: absolute;
  right: 10%;
  top: -5%;
  width: 350px;
  height: 350px;
  background: var(--main_color);
  border-radius: 76px;
}

.main__bg_block_2 {
  position: absolute;
  right: 0;
  left: 10%;
  top: 35%;
  background: #AEEA61;
  border-radius: 76px;
}

.down {
  text-align: center;
  display: block;
  position: absolute;
  height: 200px;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 20px;
  margin: 0 auto;
}

.down_text {
  color: var(--bg_color);
  font-weight: 600;
  margin-bottom: 10px;
}

.down_arrow {
  margin-bottom: 4px;
  opacity: 0.9;
  -webkit-animation: 2s linear infinite down;
          animation: 2s linear infinite down;
  left: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.down_arrow:nth-child(3) {
  opacity: 0.5;
}

.down_arrow:nth-child(2) {
  opacity: 0.3;
}

.down_arrow span {
  display: block;
  content: "";
  height: 4px;
  width: 20px;
  background-color: #fff;
  left: 50%;
  margin: 0 auto;
}

.down_arrow span:nth-child(1) {
  -webkit-transform: translateX(calc(50% - 3.5px)) rotate(-40deg);
      -ms-transform: translateX(calc(50% - 3.5px)) rotate(-40deg);
          transform: translateX(calc(50% - 3.5px)) rotate(-40deg);
}

.down_arrow span:nth-child(2) {
  -webkit-transform: translateY(-4px) translateX(calc(-50% + 3.5px)) rotate(40deg);
      -ms-transform: translateY(-4px) translateX(calc(-50% + 3.5px)) rotate(40deg);
          transform: translateY(-4px) translateX(calc(-50% + 3.5px)) rotate(40deg);
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.portfolio {
  padding: 10px 0 10px 0;
  position: relative;
  min-height: 600px;
  margin: 0 auto;
}

.portfolio__wave {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  max-width: 100%;
  z-index: 1;
}

.portfolio__works_list {
  padding: 0px 0 40px 0;
  margin: 0 auto;
  min-height: 120px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid: repeat(1, 1fr)/repeat(2, 3fr 2fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1.2fr 1fr;
}

.portfolio__works_item {
  width: 100%;
  height: 100%;
}

.portfolio__works_item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio__works_item:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio__works_img {
  width: 100%;
  height: 100%;
}

.tabs {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
          box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 10px;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.tabs_content {
  margin: 0 auto;
  max-width: 470px;
}

input[type=radio] {
  display: none;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  color: var(--text_light);
  background-color: var(--main_color);
  -webkit-transition: 0.15s ease-in;
  -o-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

input[type=radio]:checked + label {
  color: var(--text_light);
}

input[type=radio]:checked + label > .notification {
  background-color: var(--text_light);
  color: var(--main_color);
}

input[id=radio-1]:checked ~ .glider {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

input[id=radio-2]:checked ~ .glider {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

input[id=radio-3]:checked ~ .glider {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.glider {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 150px;
  background-color: var(--main_color);
  z-index: 1;
  border-radius: 99px;
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.hide {
  opacity: 0;
  display: none;
  position: absolute;
  height: 0;
  width: 0;
}

.about {
  min-height: 600px;
  background-color: var(--main_color);
  position: relative;
  padding: 190px 0 150px 0;
}

.about__title {
  display: none;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__text {
  margin-right: 50px;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  max-width: 500px;
  color: var(--bg_color);
}

.about__languages_title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bg_color);
}

.about__languages_item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__languages_item:nth-child(3) .about__languages_input span {
  width: 140px;
}

.about__languages_item:nth-child(4) .about__languages_input span {
  width: 90px;
}

.about__languages_name {
  font-size: 15px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bg_color);
}

.about__languages_bar {
  width: 200px;
  border: 4px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px var(--main_color);
          box-shadow: 0px 0px 10px var(--main_color);
}

.about__languages_per {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 2px 5px;
  height: 15px;
  border-radius: 2px;
  background-color: var(--main_color);
}

.about__skills {
  padding: 40px 0 20px 0;
}

.about__skills_title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bg_color);
}

.about__skills_content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__skills_content_block {
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 250px;
  min-height: 100%;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.about__skills_content_block:last-child {
  margin-right: 0px;
}

.about__skills_content_block:hover {
  -webkit-box-shadow: 0 5px 20px var(--main_color);
          box-shadow: 0 5px 20px var(--main_color);
}

.about__skills_content_block:nth-child(1) .about__skills_content_img img {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: scalerot;
          animation-name: scalerot;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about__skills_content_block:nth-child(2) .about__skills_content_img img {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: scaling;
          animation-name: scaling;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about__skills_content_block:nth-child(3) .about__skills_content_img span:nth-child(1) {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: posit;
          animation-name: posit;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.about__skills_content_block:nth-child(3) .about__skills_content_img span:nth-child(2) {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: posit;
          animation-name: posit;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.about__skills_content_block:nth-child(3) .about__skills_content_img span:nth-child(3) {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: posit;
          animation-name: posit;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.about__skills_content_img {
  margin-bottom: 15px;
  background-color: var(--main_color);
  padding: 0px;
  border-radius: 30px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__skills_content_img span {
  display: block;
  height: 17px;
  width: 17px;
  border-radius: 100%;
  margin-right: 5px;
  background-color: #fff;
}

.about__skills_content_img span:last-child {
  margin-right: 0;
}

.about__skills_content_img img {
  padding: 20px;
  width: 100px;
  height: 100px;
}

.about__skills_content_title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--main_color);
}

.about__skills_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.about__skills_item img {
  height: 20px;
}

.about__skills_item_name {
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.rotate {
  margin: 0 auto;
  position: absolute;
  bottom: none;
  top: -1px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 100%;
  z-index: 1;
}

@-webkit-keyframes scalerot {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }

  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes scalerot {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  50% {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }

  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }

  50% {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }

  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }

  50% {
    -webkit-transform: scale(80%);
            transform: scale(80%);
  }

  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes posit {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes posit {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  75% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.contact {
  min-height: 600px;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__descr {
  margin-left: 100px;
}

.contact__form {
  width: 400px;
  margin: 0 auto;
}

.contact__input {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;
}

.contact__input__label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  font-size: 20px;
  font-weight: 600;
}

.contact__input__img {
  height: 25px;
}

.contact__input__img:last-child {
  margin-left: 10px;
}

.contact__input__input {
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: 4px solid var(--main_color);
  border-radius: 10px;
}

.contact__input__input input {
  font-size: 16px;
  font-weight: 600;
}

.contact__textarea {
  margin-bottom: 20px;
  position: relative;
}

.contact__textarea textarea {
  width: 100%;
  resize: none;
  height: 200px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: 4px solid var(--main_color);
  padding: 10px;
  opacity: 0.7;
}

.contact__textarea label {
  top: 10px;
  left: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact__input :focus ~ .contact__input__label,
.contact__input :valid ~ .contact__input__label,
.contact__textarea :focus ~ .contact__input__label,
.contact__textarea :valid ~ .contact__input__label {
  color: var(--main_color);
  display: inline;
  padding: 0 10px;
  top: 0;
  background-color: var(--bg_color);
  opacity: 1;
  -webkit-transform: translate(10px, -7px);
      -ms-transform: translate(10px, -7px);
          transform: translate(10px, -7px);
  width: auto;
  font-size: 17px;
  text-transform: uppercase;
  border-right: 3px solid var(--main_color);
  border-left: 3px solid var(--main_color);
}

.contact__input :focus ~ .contact__input__label img,
.contact__input :valid ~ .contact__input__label img,
.contact__textarea :focus ~ .contact__input__label img,
.contact__textarea :valid ~ .contact__input__label img {
  display: none;
}

.contact__input :focus,
.contact__textarea :focus {
  -webkit-box-shadow: 0 0 10px var(--main_color);
          box-shadow: 0 0 10px var(--main_color);
}

.contact__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: 500;
}

.contact__privacy a {
  font-weight: 600;
  color: var(--main_color);
}

.contact__privacy input {
  margin-right: 7px;
  width: 15px;
  height: 15px;
}

.contact__bg {
  margin: 0 auto;
  position: relative;
  height: 600px;
  width: 400px;
  z-index: 4;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.contact__bg_img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  max-height: 600px;
  width: auto;
}

.contact__bg__internet {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 10%;
  top: 30%;
  max-height: 600px;
}

.contact__bg__internet svg {
  position: absolute;
}

.contact__bg__internet .internet {
  -webkit-animation: 6s linear 1s infinite internet;
          animation: 6s linear 1s infinite internet;
  width: 100px;
}

.contact__bg__internet .internet_back {
  width: 60px;
}

.contact__bg__message {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -20%;
  top: 10%;
  max-height: 600px;
}

.contact__bg__message svg {
  width: 200px;
}

.contact__bg__message__typing {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  color: var(--main_color);
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}

.contact__bg__mail {
  position: absolute;
  left: 0%;
  bottom: 30%;
  max-height: 600px;
  width: auto;
  -webkit-animation: 3s linear 1s infinite alternate mail;
          animation: 3s linear 1s infinite alternate mail;
}

.contact__bg__plane {
  position: absolute;
  left: 0%;
  bottom: 0;
  max-height: 600px;
  width: auto;
  -webkit-animation: plane 4s ease infinite;
          animation: plane 4s ease infinite;
}

@-webkit-keyframes plane {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  100% {
    -webkit-transform: translate(220px, -90px);
            transform: translate(220px, -90px);
  }
}

@keyframes plane {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  100% {
    -webkit-transform: translate(220px, -90px);
            transform: translate(220px, -90px);
  }
}

@-webkit-keyframes mail {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes mail {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes internet {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes internet {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.footer {
  padding: 50px 0;
  background-color: var(--main_bg1);
  position: relative;
}

.footer_wrapper {
  height: 300px;
}

.hamburger {
  cursor: pointer;
  display: none;
  border-radius: 100%;
  width: 40px;
  z-index: 12;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 5px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.hamburger_active span {
  margin-bottom: -2px;
}

.hamburger_active span:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(-45deg);
      -ms-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}

.hamburger_active span:nth-child(2) {
  display: none;
}

.hamburger_active span:nth-child(3) {
  -webkit-transform: translateY(3px) rotate(45deg);
      -ms-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

@media (max-width: 991px) {
  .portfolio__works_list {
    grid: repeat(3, 1fr)/repeat(1, 3fr 2fr 3fr);
  }

  .portfolio__works_item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }

  .portfolio__works_item:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }

  .main__text {
    max-width: 300px;
  }

  .main__title {
    font-size: 41px;
    line-height: 51px;
  }

  .main__subtitle {
    font-size: 23px;
  }

  .main__bg {
    max-height: 700px;
    max-width: 400px;
    z-index: 2;
  }

  .main__bg_img {
    max-width: 400px;
    max-height: 600px;
  }

  .main__bg_block {
    width: 300px;
    height: 300px;
  }

  .about {
    min-height: 600px;
  }

  .about__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__text {
    margin-right: 0px;
    max-width: 500px;
    margin-bottom: 40px;
  }

  .contact {
    padding: 50px 0;
    min-height: 600px;
  }

  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__descr {
    margin-left: 0px;
  }

  .contact__img img {
    max-height: 300px;
  }
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .header__menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    -o-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 11;
  }

  .header__menu_active {
    right: 0;
  }

  .header__menu_item {
    padding-right: 0;
    border: none;
    margin: 20px 0;
    font-size: 30px;
  }

  .main {
    position: relative;
    padding: 100px 0 200px 0;
    min-height: 600px;
    background-color: #182C3E;
  }

  .main__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__text {
    margin-top: 10px;
    max-width: 480px;
  }

  .main__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
  }

  .main__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
  }

  .main__bg {
    margin: 0 auto;
    max-height: 500px;
  }

  .main__bg_img {
    max-width: 400px;
    max-height: 500px;
  }

  .main__bg_block {
    width: 300px;
    height: 300px;
  }

  .down {
    bottom: -30px;
  }

  .about__languages {
    width: 350px;
  }

  .about__languages_name {
    font-size: 15px;
  }

  .about__skills_content {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__skills_content_block {
    margin-right: 0px;
  }

  .about__skills_content_block:first-child {
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .tabs {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .glider {
    height: 40px;
    width: 110px;
  }

  .tab {
    font-size: 1.05rem;
  }

  .portfolio__works_list {
    grid: repeat(6, 1fr)/repeat(1, 1fr);
    min-height: auto;
    max-height: auto;
  }

  .portfolio__works_item:nth-child(1) {
    grid-column: auto;
    grid-row: auto;
  }

  .portfolio__works_item:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }

  .main {
    position: relative;
    padding: 100px 0 170px 0;
    min-height: 600px;
    background-color: #182C3E;
  }

  .main__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__text {
    margin-top: 10px;
    max-width: 300px;
  }

  .main__title {
    font-size: 37px;
    line-height: 47px;
  }

  .main__subtitle {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
  }

  .main__bg {
    max-height: 350px;
    max-width: 300px;
    z-index: 2;
  }

  .main__bg:hover .main__bg_block {
    -webkit-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
            transform: translateX(-30%);
  }

  .main__bg:hover .main__bg_block_2 {
    -webkit-transform: translateX(30%);
        -ms-transform: translateX(30%);
            transform: translateX(30%);
  }

  .main__bg_img {
    max-height: 300px;
  }

  .main__bg_block {
    width: 200px;
    height: 200px;
    right: 10%;
    border-radius: 30px;
  }

  .main__bg_block_2 {
    position: absolute;
    left: none;
    right: 10%;
    top: 25%;
  }

  .down {
    bottom: -70px;
  }

  .about {
    padding: 120px 0;
  }

  .about__text {
    font-size: 16px;
    line-height: 27px;
  }

  .about__languages {
    max-width: 100%;
  }

  .about__languages_name {
    font-size: 15px;
  }

  .about__languages_bar {
    width: 190px;
  }

  .about__skills_content {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__skills_content_block {
    width: 90%;
    margin-right: 0px;
  }

  .about__skills_content_block:first-child {
    margin-right: 0px;
  }

  .contact__descr {
    width: 100%;
  }

  .contact__form {
    width: 100%;
  }

  .contact__bg {
    margin: 0 auto;
    position: relative;
    height: 300px;
    width: 300px;
    z-index: 4;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .contact__bg_img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    max-height: 300px;
    width: auto;
  }

  .contact__bg__internet {
    left: 15%;
  }

  .contact__bg__internet .internet {
    -webkit-animation: 6s linear 1s infinite internet;
            animation: 6s linear 1s infinite internet;
    width: 90px;
  }

  .contact__bg__internet .internet_back {
    width: 50px;
  }

  .contact__bg__message {
    right: 0%;
    top: 0;
  }

  .contact__bg__message svg {
    width: 90px;
  }

  .contact__bg__message__typing {
    font-weight: 500;
    font-size: 11px;
  }

  .contact__bg__mail {
    position: absolute;
    left: 0%;
    bottom: 10%;
    max-height: 600px;
    width: auto;
    -webkit-animation: 3s linear 1s infinite alternate mail;
            animation: 3s linear 1s infinite alternate mail;
  }

  .contact__bg__mail svg {
    width: 80px;
  }

  .contact__bg__plane {
    left: 5%;
    bottom: -20%;
  }

  .contact__bg__plane svg {
    width: 70px;
  }
}